html, body, #quiz-app, #main-view, #answerer-view {
    height: 100%;
}

#answerer-view nav {
    height: 2em;
}

#answerer-content {
    height: calc(100% - 2em);
    display: flex;
    justify-content: center;
    align-items: center;
}

#answerer-view > * {
    text-align: center;
}

#answerer-view form {
}

#navbar-answerer {
    text-align: right;
}

#list-choices {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

#list-choices li {
    margin: 2% 2% 2% 2%;
    width: 44%;
}

#list-choices button {
    width: 100%;
    font-size: 2rem;
    height: 4em;
    margin: 0px;
}

#list-choices input[type='image'] {
    width: 100%;
    margin: 0px;
}

#list-hints {
    list-style: none;
}

#list-hints .columns, #list-hints .column {
    margin-left: 0px;
}

.result-yes {
    color: #f00;
}

.result-no {
    color: #00f;
}

.result-question, .result-answer {
    font-size: 3.0rem;
}

.result-answer img {
    width: 50%;
}

.result-rank {
    font-size: 2.4rem;
}

.result-rank span {
    font-size: 3.0rem;
    font-weight: bold;
}

#master-list-hints, #master-list-choices {
    list-style: none;
}
